:root {
  /* Background Gradients for both day and night */
  --day-background-gradient: linear-gradient(
    to bottom,
    #f18448 0%,
    #ffd364 100%
  );
  --night-background-gradient: linear-gradient(
    to bottom,
    #371a79 0%,
    #713684 100%
  );

  /* Text color for both day and night */
  --day--text-color: #555555;
  --night-text-color: #f5f5f5;

  /* Ticker color for both day and night */
  --day-tick-color: #000000;
  --night-tick-color: #fffaf0;
}

.title {
  
  color: var(--day-text-color);
  font-size: 4vw;
  padding-top: 1vw;
  /* padding-left: 1vw; */
  font-family: Poppins;
}

.titlePosition{
  text-align: center;
}

body {
  background-attachment: fixed;
  background: var(--day-background-gradient);
}
/* Slide Show */
#mySlideshow {
  width: 100%;
  height: 100%;
}

#mySlideshow > div {
  /* position: absolute; */
  position: fixed;
}

/* Header*/
#full-header {
  align-content: center;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3vh;
  position: relative;
}

#title {
  position: absolute;
  align-self: center;
}
.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.text{
  font-size: 5vw;
}