#mySlideshow {
  width: 100%;
  height: 100%;
  
}

#mySlideshow > div {
  /* position: absolute; */
  position: fixed;
  
}

#full-header {
  align-content: center;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3vh;
  position: relative;
}


#title {
  position: absolute;
  align-self: center;
}


#thermometer {
  border-radius: 12px;
  height: 300px;
  /* margin-top: 140px; */
  position: relative;
}
#thermometer .goal {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  
}
#thermometer .track {
  background: #c0bebe none repeat scroll 0 0;
  border-radius: 20px;
  height: 25vw;
  left: 1.5vw;
  margin: 0 auto;
  position: relative;
  top: 10px;
  width: 3vw;
  
}
#thermometer .progress {
  background: red none repeat scroll 0 0;
  border-radius: 13px 13px 0 0;
  bottom: 0;
  height: 0;
  left: 8px;
  margin-bottom: 0 !important;
  position: absolute;
  width: 59%;
  z-index: 100;
  
}

#thermometer .amount {
  border-top: 1px solid #006600;
  color: black;
  display: inline-block;
  font-family: Trebuchet MS;
  font-weight: bold;
  padding: 0 55px 0 0;
  
}
#thermometer .progress .amount {
  border-top: 1px solid #006600;
  color: #006600;
  left: 0;
  padding: 0 0 0 75px;
  position: absolute;
  visibility: hidden;
  
}
.bulb {
  background: #c0bebe none repeat scroll 0 0;
  border-radius: 50%;
  bottom: -36px;
  display: block;
  height: 40px;
  left: -12px;
  padding: 10px;
  position: absolute;
  width: 43px;
  border-color: #006600;
  border-width: 25px;
}
.inner-bulb {
  background-color: red;
  border-radius: 50%;
  height: 40px;
  left: 0px;
  position: relative;
  top: 0;
  width: 40px;
}

