
  
  /* Dew Point Indicator */
  .box {
    
    height: 25vw;
    width: 25vw;
    /* position: fixed; */
    /* position: absolute; */
    /* padding-left: 5vw; */
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%) rotate(-45deg);
    /* rotate: 45deg; */
    background: #020438;
    /* border-radius: 0 50% 50% 50%; */
    /* border-radius: 100%; */
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    overflow: hidden;
  }
  
  .box .water {
   
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    /* transform: rotate(45deg) !important; */
    /* Safari and Chrome */
    /* -webkit-transform: rotate(45deg) ; */
    /* transform:translate(-50%, -50%) rotate(45deg) !important; */
    background: #4D6DE3;
    transition: all 0.1s;
    display: inline-block;

  }
  .box .water_wave {
    
    width: 200%;
    position: absolute;
    bottom: 100%;
  }
  .box .water_wave_back {
    right: 0;
    fill: #C7EEFF;
    -webkit-animation: wave-back 1.4s infinite linear;
            animation: wave-back 1.4s infinite linear;
  }
  .box .water_wave_front {
    left: 0;
    fill: #4D6DE3;
    margin-bottom: -1px;
    -webkit-animation: wave-front 0.7s infinite linear;
            animation: wave-front 0.7s infinite linear;
  }
  
  @-webkit-keyframes wave-front {
    100% {
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes wave-front {
    100% {
      transform: translate(-50%, 0);
    }
  }
  @-webkit-keyframes wave-back {
    100% {
      transform: translate(50%, 0);
    }
  }
  @keyframes wave-back {
    100% {
      transform: translate(50%, 0);
    }
  }




main,
.thermometer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.thermometer-wrapper{
    position: relative;
    width: 8.78vw;
    /* height: 29.28vw; */
}
.thermometer-positioning{
  position: absolute;
  top:38%;
  left:23%;
}

.thermometer-base{
    position: relative;
    top: -1.28vw;
    width: 5.124vw;
    height: 25.96vw;
    border-radius: 5.12vw 5.12vw 0 0;
    background-color: rgb(200,200,200);
}
.thermometer-base::before,
.thermometer-base::after{
    position: absolute;
    content: "";
    background-color: inherit;
    display: block;
}
.thermometer-base::before{
    top: 15.03vw;
    width: 5.12vw;
    height: 9.92vw;
    box-shadow: inset 26px 0 0 rgba(7, 7, 7, 0.15);
    z-index: 2;
}

/* Outer Bulb */
.thermometer-base::after{
    top: 22vw;
    left: 50%;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 7.32vw;
    margin-left: -3.66vw;
}
.thermometer-base,
.thermometer-base::after{
    box-shadow:
    0 0 0 2px rgb(145, 147, 160),
    inset 26px 0 0 rgba(5,15,25,.15),
    0 18px 0 rgba(37, 36, 36, 0.25),
    0 19px 20px rgba(0, 0, 0, 0.25);
}
.thermometer-liquid{
    position: absolute;
    bottom: 1.6vw;
    left: 50%;
    width: 2.92vw;
    height: 3.04vw;
    max-height: 24.96vw;
    border-radius:  2.92vw 2.92vw 0 0;
    margin-left: -1.46vw;
    background-color: rgb(80,10,10);
    box-shadow:inset 22px 0 0 rgba(25, 128, 231, 0.15),
    inset -6px 0 0 rgba(48, 146, 226, 0.1);
    z-index: 3;
}
.thermometer-liquid::before{
    position: inherit;
    bottom: -2.52vw;
    left: 50%;
    content: "";
    width: 5.124vw;
    height: 5.124vw;
    border-radius: 5.124vw;
    margin-left: -2.56vw;
    background-color: inherit;
    z-index: 3;
    box-shadow:
    inset 10px 0 0 rgba(82, 153, 224, 0.15),
    inset -8px -4px 0 rgba(68, 166, 196, 0.1);
}



.anim-heat{
    animation-name: heat;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(.58,.92,.6,-0.3);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Humidity Gauge */

.humidity-positioning
{
  /* position: absolute; */
  padding-top:7%;
  margin-left: 0 !important;
}

.airQualityIndex-positioning{
  /* position: absolute; */
  padding-top: 5%;
  margin-left: 0 !important;
}

#humidityValue{
  position: absolute;
  left:54%;
  top:44%;
}
#tempValue{
  position: absolute;
  top:38%;
  left:52%;
}

#heatIndexValue{
  position: absolute;
  top:38%;
  left:52%;
}

#dewValue{
  position: absolute;
  top:38%;
  left:52%;
}

.dewdrop-positioning{
  position: absolute;
  top:63%;
  left:27%
}


#airQualityIndexValue{
  position: absolute;
  top:30%;
  left:67%;
}

#pm10{
  position: absolute;
  top: 70%;
  left:55%;
  text-align: center;
  border-radius: 12px; 
  height: 25%;
  width:15%;
  font-weight: bold;
  font-size: 7vh;
  font-family: 'Poppins';
  background-color:aliceblue;
  -webkit-box-shadow: 3px 4px 8px 1px rgba(0,0,0,0.61);
-moz-box-shadow: 3px 4px 8px 1px rgba(0,0,0,0.61);
box-shadow: 3px 4px 8px 1px rgba(0,0,0,0.61);
}

#pm25{
  position: absolute;
  top: 70%;
  left:80%;
  text-align: center;
  border-radius: 12px; 
  height: 25%;
  width:15%;
  font-size: 7vh;
  font-weight: bold;
  font-family: 'Poppins';
  background-color:aliceblue;
  -webkit-box-shadow: 3px 4px 8px 1px rgba(0,0,0,0.61);
-moz-box-shadow: 3px 4px 8px 1px rgba(0,0,0,0.61);
box-shadow: 3px 4px 8px 1px rgba(0,0,0,0.61);
}