:root {
  /* Background Gradients for both day and night */
  --day-background-gradient: linear-gradient(
    to bottom,
    #f18448 0%,
    #ffd364 100%
  );
  --night-background-gradient: linear-gradient(
    to bottom,
    #371a79 0%,
    #713684 100%
  );

  /* Text color for both day and night */
  --day--text-color: #555555;
  --night-text-color: #f5f5f5;

  /* Ticker color for both day and night */
  --day-tick-color: #000000;
  --night-tick-color: #fffaf0;
}


.body {
  background-attachment: fixed;
  background: var(--day-background-gradient);
}
/* Slide Show */
#mySlideshow {
  width: 100%;
  height: 100%;
}

#mySlideshow > div {
  /* position: absolute; */
  position: fixed;
}


.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.text{
  font-size: 7vw;
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
  padding-top: 3vw;
}
.parameter-content-flex{
  display:flex; flex-direction: column; justify-content: space-around; height:100%
}
.icon-value-flex{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: stretch;
}


.value{
  font-size: 20vw;
            font-family: 'TickingTimebombBB';
            /* font-weight:700 ; */
            /* position: absolute; */
            
            /* text-align: center; */
}

.small-value{
  font-size: 6.5vw;
  font-family: 'TickingTimebombBB';
            /* font-weight: bold; */
}